@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body, html {
    margin: 0;
    padding: 0;
    background-color:  rgb(242, 248, 248);
    color: rgb(51, 68, 85);
    font-family: 'Roboto Condensed', sans-serif;
}

header nav {
    height: 3.5rem;
}

header nav ul {
    margin-left: 25vw;
}

nav img, ul, li {
    text-decoration: none;
    display: table;
    float: left;
    height: 100%;
}


.btn{
    float: right;
    margin: 1vw;
    background-color: rgb(51, 68, 85);
    color: white;
    padding: 9px 10px;
    width: 100px;
    text-align: center;
    border: 0px solid transparent;
    font-size: 1rem;
    font-weight: 300;
}

nav a {
    text-decoration: none;
    color:rgb(51, 68, 85);
    padding: 0 20px;
}

/* MAIN */

main {
    display: inline-flex;
}

h1 {
    font-size: 2.7rem;
}

p {
    font-size: 1.2rem;
}

.onehalf{
    width: 50vw;
    text-align: left;
    margin-top: 3.8rem;
}

.twohalf {
    width: 48vw;
    margin: 0;
    padding: 0;
}

.btntwo{
    float: right;
    background-color: rgb(51, 68, 85);
    color: white;
    padding: 1vw;
    width: 100px;
    text-align: center;
    border: 0px solid transparent;
    outline: 0;
    font-size: 1rem;
    font-weight: 300;
}

.form-control{
    width: 79%;
    padding: 1vw;
    text-align: left;
    border: 0;
    outline: 0;
    background-color: #e6e3e3;
    font-size: 1rem;
    font-weight: 300;
    color: #696666;
    margin-top: 0;
    margin-right: 0;
    margin-left:0;
    display: inline-flex;
}

.form {
    margin: 0;
    padding-left: 1vw;
}

/* SECTION */

section section {
    color: #58636D;
    display: inline-block;
    width: 1vw;
}

.one {
    padding: 0;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    padding: 2em 0;
    margin: 0;
}


/* SECTION */

.collect {
    text-align: left;
    float: left;
    height: 300px;
    background-color: rgb(252, 254, 251);
    padding-top: 60vh;
    padding: 0;
    width: 100vw;
}

/* MARGINS FOR ALL CONTENT */

.mockup {
    padding-left: 2rem;
}

.form-control {
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5%;
}

h1, h2, h3, span, p {
    padding: 0 5%;
}

/* MEDIA QUERY**************************** */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    header {
        margin: 0;
        padding: 0;
    }

    /* NAVIGATION */

    header nav ul {
        margin-left: 5rem;
        margin-right: 5rem;
        padding: 0;
    }


    /* ONEHALF AND TWOHALF SECTION */
    main {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 7rem;
    }

    .onehalf {
        width: 100%;
    }

    .form {
        margin: 0;
        padding: 0;
    }

    .form-control {
        width: 15.2rem;
    }

    .btntwo {
        margin-right: 1rem;
    }

    .mockup {
        width: 20rem;
    }

    /* FEATURES */

    .feature {
        padding: 0;
        margin: 0;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        text-align: center;
        padding: 2em 0;
        margin: 0;
    }

    /* FOOTER */

    .collect {
        width: 100%;
        padding-bottom: 25vh;
    }
}