@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body, html {
    margin: 0;
    padding: 0;
    background-color:  rgb(242, 248, 248);
    color: rgb(51, 68, 85);
    font-family: 'Roboto Condensed', sans-serif;
}

header nav {
    height: 55px;
}

header nav ul {
    margin-left: 25%;
}

nav img, ul, li {
    text-decoration: none;
    display: table;
    float: left;
    height: 100%;
    padding: 0 20px;
}


.btn{
    float: right;
    margin: 15px;
    background-color: rgb(51, 68, 85);
    color: white;
    padding: 9px 10px;
    width: 100px;
    text-align: center;
    border: 0px solid transparent;
    font-size: 15px;
    font-weight: 300;
}

nav a {
    text-decoration: none;
    color:rgb(51, 68, 85);
}

/* MAIN */

main {
    display: inline-flex;
}

h1 {
    font-size: 45px;
}

p {
    font-size: 18px;
}

.onehalf{
    width: 70%;
    height: 30rem;
    text-align: left;
    clear: bottom;
    margin-left: 50px;
    margin-top: 60px;
}

.twohalf {
    width: 49%;
    float:right;
    height: 30rem;
}

.btntwo{
    float: right;
    background-color: rgb(51, 68, 85);
    color: white;
    padding: 9px 10px;
    width: 100px;
    text-align: center;
    border: 0px solid transparent;
    outline: 0;
    font-size: 15px;
    font-weight: 300;
}

.form-control{
    width: 65.8%;
    padding: 9px 10px;
    text-align: left;
    border: 0;
    outline: 0;
    background-color: #e6e3e3;
    font-size: 15px;
    font-weight: 300;
    color: #696666;
    margin-top: 0px;
    margin-right: 0px;
    margin-left:0px;
    display: inline-flex;
}

/* SECTION */

section section {
    color: #58636D;
    display: inline-block;
    width: 20%;
    margin: 40px 20px;
}

.one {
    margin-left:50px;
}


/* FOOTER */

footer {
    text-align: left;
    float: left;
    height: 200px;
    background-color: rgb(252, 254, 251);
    padding-top: 60px;
    padding-left: 50px;
    width: 100%;
}

/* MEDIA QUERY ******************** */